.settings {
    position: absolute;
    right: 0;
    bottom: 2em;
    z-index: 9999;
    pointer-events: none;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 1em;
        background: white;
        clip-path: circle(0% at bottom right);
        transition: clip-path .5s ease;
        box-shadow: 0 2rem 4rem -2rem black;
        pointer-events: none;

        li {
            padding: .5em 1em;
            color: black;
            text-align: center;
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 1px solid #DDD;
            }

            &:hover {
                background: #f2e9e491;
            }
        }
    }

    .display {
        clip-path: circle(100%);
        pointer-events: all;
    }
}